In [1]:
context.catalog.load("reviews").head()

2021-02-14 11:47:33,595 - kedro.io.data_catalog - INFO - Loading data from `reviews` (SQLQueryDataSet)...

   movie_id                                             review
0     24428  With a movie like this you wonder how all of t...
1    124905       Muito bom.\r\nMas tem partes que é uma seca.
2    124905  Why must Hollywood scriptwriters of some genre...
3    124905  **Fundamentals, reception.**\r\n\r\n1. America...
4    198663  Another forgettable Game of Ender/Hunger Games...

In [4]:
reviews = context.catalog.load("reviews")

2021-02-14 11:50:45,355 - kedro.io.data_catalog - INFO - Loading data from `reviews` (SQLQueryDataSet)...

In [5]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  576 non-null    int64
 1   review    576 non-null    object
dtypes: int64(1), object(1)
memory usage: 9.1+ KB

In [9]:
len(reviews.groupby("movie_id")["review"].apply(list).apply(" ".join))

117

In [15]:
concatenated_reviews = reviews.groupby("movie_id")["review"].apply(list).apply(" ".join)

In [14]:
import pandas as pd

df = pd.DataFrame({"movie_id": concatenated_reviews.index, "concatenated_review": concatenated_reviews})
df.head()

          movie_id                                concatenated_review
movie_id
671            671  Ahh, the magic begins.\r\n\r\nHarry Potter is ...
674            674  Do not do so lightly! If chosen, there's no tu...
24428        24428  With a movie like this you wonder how all of t...
38700        38700  The list of what's wrong with 'Bad Boys For Li...
99861        99861  There is a lot going on in this movie but it a...