In [1]:
similar_movies = context.catalog.load("similar_movies")
test_data = context.catalog.load("test_data")

2021-02-17 20:53:42,343 - kedro.io.data_catalog - INFO - Loading data from `similar_movies` (CSVDataSet)...
2021-02-17 20:53:42,367 - kedro.io.data_catalog - INFO - Loading data from `test_data` (CSVDataSet)...

In [2]:
similar_movies.head()

   movie_id                         similar_movie_ids
0       671      [674, 24428, 464052, 141052, 293167]
1       674     [671, 464052, 545609, 141052, 293167]
2     24428  [141052, 299537, 299536, 495764, 299534]
3     38700  [290859, 474350, 299537, 384018, 454626]
4     99861  [299534, 333339, 299537, 383498, 290859]

In [3]:
len(similar_movies)

116

In [4]:
test_data.head()

   movie_id                        similar_movie_list
0       671     [674, 198663, 287947, 333339, 466282]
1       674     [671, 198663, 333339, 466282, 568160]
2     20982  [505262, 568160, 592350, 635302, 655431]
3     24428   [99861, 141052, 284053, 284054, 287947]
4     99861   [24428, 141052, 284053, 284054, 287947]

In [5]:
len(test_data)

66

In [6]:
import pandas as pd

compare = pd.merge(similar_movies, test_data)
len(compare)

40

In [7]:
import json

compare["similar_movie_ids"] = compare["similar_movie_ids"].apply(json.loads).apply(set)
compare["similar_movie_list"] = compare["similar_movie_list"].apply(json.loads).apply(set)

In [8]:
compare["match_num"] = compare.apply(lambda x: len(x["similar_movie_ids"] & x["similar_movie_list"]), axis=1)
compare.head()

,movie_id,similar_movie_ids,similar_movie_list,match_num
0,671,"{674, 24428, 293167, 464052, 141052}","{674, 198663, 466282, 287947, 333339}",1
1,674,"{545609, 293167, 464052, 141052, 671}","{568160, 198663, 466282, 333339, 671}",1
2,24428,"{299534, 299536, 299537, 495764, 141052}","{287947, 99861, 284054, 284053, 141052}",1
3,99861,"{383498, 290859, 299534, 299537, 333339}","{287947, 24428, 284053, 284054, 141052}",0
4,141052,"{475557, 287947, 24428, 429617, 495764}","{287947, 24428, 99861, 284054, 284053}",2

In [9]:
accuracy = sum(compare["match_num"]) / (len(compare) * 5)
accuracy

0.125